<p id="notice"><%= notice %></p>

<div style="text-align: center;">

    <h2>Your restaurant eco friendly</h2>

    <%= link_to 'Evaluer votre restaurant', new_restaurant_path,
    { :class=>"w3-btn w3-green w3-text-black w3-round-large"}%>

    <br><br><br><br><br>
    <% if user_signed_in? %>

    <h1>Articles</h1>


    <br>

    <%= link_to 'New Article', new_article_path %>

    <p> <%= link_to "log out", destroy_user_session_path, method: :delete %> </p>
    <%else%>
    <p> Please  <%= link_to "sign in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to access</p>
    <%end%>
    <% if admin_signed_in? %>  
    <p> <%= link_to "log out admin", destroy_admin_session_path, method: :delete %> </p>
    <% elsif !admin_signed_in? && !user_signed_in? %> 
     <p>  <%= link_to "sign in admin", new_admin_session_path %> </p>
    <% end %>
</div>