<p id="notice"><%= notice %></p>

<div style="text-align: center;">

	<h1>Nos Prestataires</h1>

	<thead>
		<%= link_to 'New Prestataire', new_prestataire_path,
		{ :class=>"w3-btn w3-green w3-text-black w3-round-large"} %>
		<br><br>
	</thead>

	<tbody>
		<div class="w3-container" style="text-align: center;">
			<% @prestataires.each do |prestataire| %>

			<div class="w3-card-4 w3-margin w3-pale-green" style="display: inline-block;">
				<div class="w3-container w3-margin">
					<img src=<%= prestataire.imageurl %> alt="begreen remise" style="max-width:300px;opacity:0.85">

					<br><br>

					<b><%= prestataire.prestation %></b>
					<p><%= prestataire.description %></p>
					<p><%= prestataire.nom %></p>
					<!-- <p><%= prestataire.categorie %></p> -->
					<!-- <p><%= prestataire.ville %></p> -->
					<b><%= prestataire.remise %></b>
					<br><br>
					<span><%= link_to 'Show', prestataire %></span>
					<span><%= link_to 'Edit', edit_prestataire_path(prestataire) %></span>
					<span><%= link_to 'Destroy', prestataire, method: :delete, data: { confirm: 'Are you sure?' } %></span>
				</div >
			</div >
			<% end %>
		</div>
	</div>

</tbody>
