<p id="notice"><%= notice %></p>
<div class="text-center">
<p>
  <%= image_tag @prestataire.imageurl, size: "150", alt: @prestataire.nom %>
</p>
<p>
  <h1><%= @prestataire.nom %></h1>
</p>
<p>
  <h3>Fournisseur en <%= @prestataire.categorie %></h3>
</p>
<p>
  <strong>Remise:</strong>
  <%= @prestataire.remise %>
</p>

<p>
  <strong>Prestation:</strong>
  <%= @prestataire.prestation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prestataire.description %>
</p>

<p>
  <strong>Localisé à <%= @prestataire.ville %></strong>
</p>

<%= link_to 'Edit', edit_prestataire_path(@prestataire) %> |
<%= link_to 'Back', prestataires_path %>
</div>