<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @restaurant.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @restaurant.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @restaurant.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @restaurant.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @restaurant.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @restaurant.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @restaurant.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @restaurant.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @restaurant.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @restaurant.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @restaurant.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @restaurant.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @restaurant.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @restaurant.q14 %>
</p>

<p>
  <strong>Q15:</strong>
  <%= @restaurant.q15 %>
</p>

<p>
  <strong>Q16:</strong>
  <%= @restaurant.q16 %>
</p>

<p>
  <strong>Q17:</strong>
  <%= @restaurant.q17 %>
</p>

<p>
  <strong>Q18:</strong>
  <%= @restaurant.q18 %>
</p>

<p>
  <strong>Q19:</strong>
  <%= @restaurant.q19 %>
</p>

<p>
  <strong>Q20:</strong>
  <%= @restaurant.q20 %>
</p>

<p>
  <strong>Q21:</strong>
  <%= @restaurant.q21 %>
</p>

<p>
  <strong>Q22:</strong>
  <%= @restaurant.q22 %>
</p>

<p>
  <strong>Q23:</strong>
  <%= @restaurant.q23 %>
</p>

<p>
  <strong>Q24:</strong>
  <%= @restaurant.q24 %>
</p>

<p>
  <strong>Q25:</strong>
  <%= @restaurant.q25 %>
</p>

<p>
  <strong>Q26:</strong>
  <%= @restaurant.q26 %>
</p>

<p>
  <strong>Q27:</strong>
  <%= @restaurant.q27 %>
</p>

<p>
  <strong>Q28:</strong>
  <%= @restaurant.q28 %>
</p>

<p>
  <strong>Q29:</strong>
  <%= @restaurant.q29 %>
</p>

<p>
  <strong>Q30:</strong>
  <%= @restaurant.q30 %>
</p>

<p>
  <strong>Q31:</strong>
  <%= @restaurant.q31 %>
</p>

<p>
  <strong>Q32:</strong>
  <%= @restaurant.q32 %>
</p>

<p>
  <strong>Q33:</strong>
  <%= @restaurant.q33 %>
</p>

<p>
  <strong>Q34:</strong>
  <%= @restaurant.q34 %>
</p>

<p>
  <strong>Q35:</strong>
  <%= @restaurant.q35 %>
</p>

<p>
  <strong>Q36:</strong>
  <%= @restaurant.q36 %>
</p>

<p>
  <strong>Q37:</strong>
  <%= @restaurant.q37 %>
</p>

<p>
  <strong>Q38:</strong>
  <%= @restaurant.q38 %>
</p>

<p>
  <strong>Q39:</strong>
  <%= @restaurant.q39 %>
</p>

<p>
  <strong>Q40:</strong>
  <%= @restaurant.q40 %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
