<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @restaurant.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @restaurant.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @restaurant.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @restaurant.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @restaurant.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @restaurant.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @restaurant.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @restaurant.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @restaurant.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @restaurant.q10 %>
</p>

<p>
  <strong>Q11:</strong>
  <%= @restaurant.q11 %>
</p>

<p>
  <strong>Q12:</strong>
  <%= @restaurant.q12 %>
</p>

<p>
  <strong>Q13:</strong>
  <%= @restaurant.q13 %>
</p>

<p>
  <strong>Q14:</strong>
  <%= @restaurant.q14 %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
