<!DOCTYPE html>
<html>
  <head>
    <title>Begreen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

<div class="w3-light-grey">
  <%= image_tag "ecotrefle.svg", size: "80", alt: "Ecotrefle your restaurant eco friendly"%> 

  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/restaurants" class="w3-bar-item w3-button">Restaurants</a>
  <a href="/prestataires" class="w3-bar-item w3-button">Prestataires</a>

  <!-- <input type="text" class="w3-bar-item w3-input" placeholder="Search.."> -->
  <!-- <a href="#" class="w3-bar-item w3-button w3-green">Go</a> -->
</div>

    <%= yield %>


  </body>
</html>
